/* Colours */
$white: #fff;
$green: #c9ffc9;
$grey: #707070;
$off-white: #f9edf0;
$blue: #2f3061;
$light-blue: #2f3061d3;
$red: #b32441;
$bright-red: #d82140;
$pie-red-1: #b51c36;
$pie-red-2: #b51c36cc;
$pie-red-3: #b51c3699;
$pie-red-4: #b51c3666;
$pie-red-5: #f0d2d7;
